html, body {
    cursor: url('pix495.gif'), auto;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-image: url('background-lace.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a:hover {
  cursor: url('cat-cursor.gif'), pointer;
}

.album {
    max-width: 450px; 
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.album:hover {
    transform: scale(1.05) rotate(2deg);
}