html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FADBEF;
  color: #FF2458;
  overflow-x: hidden;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: fit-content;
  margin: 0 auto;
  padding: 50px;
  overflow: visible
}

.inside-container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

.home-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
}

.button-wrapper{
  position: absolute;
  text-align: center;
  width: 150px;
}

.button-wrapper .btn {
  transition: transform 0.3s ease;
  width: 100%;
  height: auto;
  display: block;
}

.button-wrapper .btn:hover {
  transform: scale(1.1) translateY(-8px);
}

.btn-label {
  margin-top: 5px;
  font-size: 16px;
  color: #FF2458;
  transform: none;
}

.btn-1 {
  top: 20px;
  left: -100px;
  transform: rotate(0deg);
}

.btn-2 {
  top: 20px;
  right: -100px;
  transform: rotate(0deg);
}

.btn-3 {
  bottom: -50px;
  left: -5%;
  transform: rotate(0deg);
}

.btn-4 {
  bottom: -50px;
  right: -5%;
  transform: rotate(0deg);
}

.btn-5 {
  top: -80px;
  left: 35%;
  transform: rotate(0deg) scale(1.2);
}
