html, body {
    cursor: url('pix495.gif'), auto;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(253, 253, 253);
    color: rgb(99, 45, 45); 
}

a:hover,
button:hover,
[onclick]:hover,
img:hover {
    cursor: url('cat-cursor.gif'), pointer !important;
}

.clicker:hover {
    cursor: url('cat-cursor.gif'), pointer;
}

.clicker {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 120px;
    height: auto;
    z-index: 3000;
    transition: transform 0.35s ease;
    pointer-events: auto;
}

.clicker:hover {
  transform: translateX(-4px) rotate(-2deg);
  cursor: pointer;
}

@media (max-width: 768px) {
    .clicker {
        display: none;
    }
}

.memory-box-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0px;
}

.memory-photo-1, .memory-photo-2, .memory-photo-3 {
    width: 90%;
    height: auto;
    border-radius: 0px;
}